@model IEnumerable<CarWashManagement.Models.CarWashVM>
@{
    ViewBag.Title = "PullData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PullData</h2>

<div>
    <h4>CarWashVM</h4>
    <hr />
    <dl class="dl-horizontal">
       
    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
